body {
    background-color: #fff;
    font-family: sans-serif;
    
}
p {
    color: #717171;
    margin: 0 auto;
    width: 420px;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}
.footer {
    background-color: white;
    border-top: 1px solid #717171;
    bottom: 0px;
    height: 44px;
    font-size: 12px;
    line-height: 44px;
    padding-left: 22px;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 1000;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #121212;
}

.content {
    margin-bottom: 160px;
    margin-top: 40px;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #104673;
    font-size: 13px;
    color: #104673;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #104673;
    border-radius: 2px;
    background-color: #104673;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
